body {
background-color: #999;
}

.displayPug {
color: blue;
display: block;
text-align: center;
margin-top: 50px;
}


.pugButton {
color: black;
background-color: #fefeae;
border: 2px solid #fefeae;
border-radius: 50px 50px 50px 50px;
outline: none;
box-shadow: 0 10px #666;
padding: 80px 120px;
}

.pugButton:hover {
cursor: pointer;
}

.pugButton:active {
box-shadow: 0 5px #333;
transform: translateY(5px);
}

.displayArmazem {
background-color: #666;
text-align: center;
color: yellow;	
}